* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
/* COLORS */
:root {
    --primaryBlue: #3047EC;
    --whiteGrey: #F8F8F8;
    --white: #FFFFFF;
    --lightGrey: #F2F2F2;
    --onlineGreen: #95CF48;
    --black: #000000;
    --darkGrey: #737376;
    --boxShadowGrey: rgba(115,115,118,0.66);
    --mediumGrey: #D4D4D4;
    --lightYellow: #fff4d0;
}
body {
    background-color: var(--lightGrey);
    height: 80vh;
    width: 100%;
}
/* MAIN CONTAINER */
.main-container {
    width: 25vw;
    height: 65vh;
    position: absolute;
    top: 170px;
    right: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 14px 0px var(--boxShadowGrey);
    font-family: "Inter", sans-serif;
    background-color: var(--white); 
    display: none;
}

/* CHATBOX HEADER */
.chatbox-header-wrapper {
    background-color: var(--primaryBlue);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 80px;
}
.chatbox-header {
    display: flex;
    justify-content: space-between;
    width: 37%;
    height: 100%;
    align-items: center;
    margin-left: 5%;
    color: var(--white); 
}
.header-left-icon {

}
.header-agent-img {
    width: 35%;
    margin-right: 10%;
    position: relative;
}
.header-agent-img img {
    width: 100%;
    overflow: hidden;
}
.bot {
    margin-left: 2%;
}
.bot img {
    width: 48px;
    height: 48px;
}
.hannah {
    margin-left: 10%;
}
.hannah img {
    width: 43px;
    height: 43px;
}
.header-agent-img::after {
    position: absolute;
    content: "";
    background-color: var(--onlineGreen);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1;
    bottom: 6px;
    left: 30px;
}
.header-agent-name-wrapper-hannah {

}
.header-agent-name-wrapper-bot {
    margin-right: 5%;
}
.header-agent-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8%;
}
.header-agent-status {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}
.chatbox-bot-img img {
    height: 46px;
}

/* CHATBOX BODY */
.chatbox-body {
    width: 100%;
}
.chatbox-msgs {
    overflow: scroll;

    height: 46vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-size: 15px;
}
.chatbox-bot-msg-wrapper, .chatbox-hannah-msg-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}
.chatbox-hannah-msg-txt {
    line-height: 1.5;
}
.chatbox-bot-msg, .chatbox-hannah-msg-txt-wrapper {
    background-color: var(--lightGrey);
    border-radius: 10px;
    padding: 20px;
  
}
.user-msg {
    background-color: var(--primaryBlue);
    border-radius: 10px;
    padding: 20px;
    color: var(--white);
    margin-bottom: 20px;
    width: max-content;
    align-self: flex-end;
}

/* CHATBOX USER INPUT */
.chatbox-user-input {
    width: 100%;
    display: flex;
    border-top: 1px solid var(--mediumGrey);
}
#user-input {
    width: 100%;
    height: 65px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;

}
#user-input:focus {
    border: none;
}
.chatbox-user-send-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 5%;
}

/* CHATBOX ICON */
.up-down-icon {
    position: absolute;
    bottom: 40px;
    right: 73px;
}
.up-down-icon-up {
    position: relative;
    font-size: 20px;
    color: var(--white);
    display: block;
    cursor: pointer;
}
.up-down-icon-up::after {
    position: absolute;
    content: "";
    background-color: var(--primaryBlue);
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 50%;
    right: -19px;
    bottom: -14px;
}
.up-down-icon-down {
    position: relative;
    font-size: 20px;
    color: var(--white);
    display: none;
    cursor: pointer;
}
.up-down-icon-down::after {
    position: absolute;
    content: "";
    background-color: var(--primaryBlue);
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 50%;
    right: -19px;
    bottom: -14px;
}
